
nav {
    text-align: -webkit-center;
    background: #1a1a1a;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 1rem;
    margin: 0 10rem;
    box-shadow: none;
}

nav ul {
    max-width: 1200px;
}

h1, h2, h3 {
    color: #f6e4ad;
}

th {
    color:#c3b27f 
}

    h3 a, .division-card a,  ul  li a:hover, li span:hover, li span:focus{
        color: #f6e4ad !important;
    }

button {
    background: #f6e4ad;
    color: black;
}

    button:hover {
        background: #c3b27f;
        color: black;
    }

a{
    text-decoration: none;
    transition-duration: 0.4s;
}

nav ul li{
    margin: 0rem 0.6rem;
    text-align: start;
}

    nav ul li a:hover {
        color: #f6e4ad;
    }

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid img{
    max-height: 600px;
}

.mt{
    margin-top: 5rem;
}

.anim{
    opacity: 0;
    animation: moveUp 2s 0.5s forwards;
}

.anim2 {
    opacity: 0;
    animation: moveUp 2s 1s forwards;
}

.buttons {
    margin-top: 3rem;
    opacity: 0;
    animation: moveUp 2s 1.5s forwards;
}

.bouton1 {
    background-color: #f6e4ad;
    padding: 0.7rem;
    margin-right: 1rem;
    color: black;
    border-color: #f6e4ad;
    border-style: solid;
}

.bouton2 {
    border-color: #f6e4ad;
    border-style: solid;
    padding: 0.7rem;
    color: #f6e4ad;
}


.bouton2:hover {
    background-color: #f6e4ad;
    padding: 0.7rem;
    margin-right: 1rem;
    color: black;
}

.bouton1:hover {
    border-color: #f6e4ad;
    border-style: solid;
    padding: 0.7rem;
    color: #f6e4ad;
    background-color: transparent;
}

.fade {
    opacity: 0;
    animation: fade1 2s 1s ease-in forwards;
}

.prediction th{
    color:white;
}

@keyframes moveUp{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}